{% extends "base.html" %}
{% block header %}
<!-- Page Header-->
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="row" style="max-height: 330px; margin-top: -5%;">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h3>登陆</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block content %}
        <!-- Main Content-->
        <div class="container">
            <h1>登陆</h1>
            
            <form method="POST" action="">             
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
            
            <a href="{{url_for('register')}}">没有账号？点击注册</a><br>
        </div>
        <hr />
{% endblock %}